h1
{
	color: red; 
	font-size: 40px;
}
.body_backgorund {
	background-image: url("bg1.jpg");
	background-position: center;
	background-size: cover;
}

#my_Canvas{
	background-color:wheat ;
	border-style: dashed;
	border-width:2px;
	border-color: rgb(180, 196, 43);

}